In [1]:
import numpy as np
import pandas as pd

In [7]:
crime = pd.read_csv('./data/Crime_Data_from_2010_to_Present.csv', parse_dates=[1,2], chunksize=10000)

In [8]:
crime

In [9]:
df = crime.get_chunk()

In [11]:
df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,2013-03-14,2013-03-11,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,2010-01-25,2010-01-22,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,2013-03-19,2013-03-18,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,2010-11-11,2010-11-10,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,2014-01-11,2014-01-04,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

In [13]:
df['Status Code'].value_counts()

IC    7819
AO    1098
AA    1017
JA      62
JO       4
Name: Status Code, dtype: int64

In [15]:
df.isnull().sum()

DR Number                     0
Date Reported                 0
Date Occurred                 0
Time Occurred                 0
Area ID                       0
Area Name                     0
Reporting District            0
Crime Code                    0
Crime Code Description        0
MO Codes                   1633
Victim Age                 1429
Victim Sex                 1335
Victim Descent             1335
Premise Code                  2
Premise Description           2
Weapon Used Code           6376
Weapon Description         6376
Status Code                   0
Status Description            0
Crime Code 1                  0
Crime Code 2               9384
Crime Code 3               9991
Crime Code 4              10000
Address                       0
Cross Street               6690
Location                      0
dtype: int64